*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}
/*about header */
.head{
    background-image: url('/images/banner/banner3.png');
    background-repeat: no-repeat;

    background-position: center;
    padding:150px 100px;

    text-align: center;
  
 
    
  


}
.banner{
    margin-left: 330px;
    font-weight: bolder;
    font-size: 30px;
    
    
}
.head h1{
    font-size: 700px;
}


.btn{

    border-radius: 5px;
    background-color: #FD6E0A;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    border: 0;
    padding: 17px 30px;
    height: 60px;
}
/* about sections */
.sections{
   
    margin-bottom:50px ;
    font-weight: 700;
    font-size: 35px;
    text-align: center; 
    margin: 50px;

}
.container{
    display: flex;
    gap: 60px;

}
.two ul{
    list-style-type: circle;
    text-align: left;
    font-size: 20px;
    color:  rgb(90, 80, 80);
}
.about-title{
    font-size: 700;
    font-weight: bolder;


}
.about-description{
    font-size: 500;
    color: rgb(90, 80, 80);
}
.plan-title{
    margin-bottom:50px ;
    font-weight: 1000;
    font-size: 35px;
    text-align: center;
  
}
.plan-container{
    display: flex;
    justify-content: space-around;
    
    

}
.skill-title{
    margin-bottom:20px ;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    


}
.my-plans{
    padding: 130px 150px;
}
.btn-2{
    border-radius: 5px;
    background-color: #f3edea;
    color: rgba(255, 68, 0, 0.795);
    font-weight: 700;
    font-size: 18px;
    border: 0;
    padding: 17px 30px;
    height: 60px;
    margin-right: 330px;
    margin-top: 20px;




}
.positive{
    background-image:  url('/images/gradient2.png');
    background-repeat: no-repeat;

    background-position: center;
    padding: 180px 80px;
    
    text-align: center;
    
    

    
    
    
}
.and{
    margin-right: 330px;
    font-weight: bolder;
    font-size: 30px;
    
}
/* about footer */
.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 70px 200px;
   
}


.footer-title{
    
    margin-bottom:70px ;
    font-weight: 700;
    font-size: 35px;
    text-align: center;

}
input{
    margin-bottom: 24px;
    border: 1px solid orangered;
    
    padding: 18px 30px;
    border-radius: 5px;
    width: 300px;
}
.about-footer{
    margin-right: 500px;
    color: whitesmoke;
}
.future{
    
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}
.description{
    color: #b9b1b1;
    font-size: 18px;
    margin-bottom: 30px;

}
.phone{
    margin-bottom: 20px;
}
.person{
    height: 500px;
}


   


